.cardWrapper {
	container-type: size;
	aspect-ratio: 2 / 3;
	backface-visibility: hidden;
}
.card {
	height: 100%;
	width: 100%;
	border-radius: 10cqmin / 10cqmin;
	border: white 6cqmin solid;
	position: relative;
	font-weight: 900;
	color: #ffffff;
	letter-spacing: -3cqmin;
	overflow: hidden;
	transition: box-shadow 1s;
	box-shadow: var(--color-override) 0px 0px 0px 50cqmin inset;
	
}

.ring {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 94%;
	height: 90%;
	transform: skewX(-23deg);
	border-radius: 100%;
	border: white 4.5cqmin solid;
	pointer-events: none;
	transition: box-shadow 1s;
	box-shadow: var(--color-override) 0px 0px 0px 50cqmin inset
}

.smallTop,
.smallBottom {
	font-size: 30cqmin;
    text-shadow: #000000 -3.3cqmin 3.3cqmin;
	z-index: 2;
	letter-spacing: -1cqmin;
    -webkit-text-stroke: black 4cqmin;
    paint-order: stroke fill;
    font-variation-settings: "wght" 624.4;
}

.smallTop {
	position: absolute;
	top: 0;
	left: 6cqmin;
	translate: 0.4cqmin 0;
}

.smallBottom {
	position: absolute;
	bottom: 0;
	right: 6cqmin;
	rotate: 180deg;
	translate: -0.4cqmin 0;
}
.backIcon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	color: #d6daec;
	text-shadow: #000000aa -4cqmin 4cqmin;
	translate: 0.1cqmin 0;
	-webkit-text-stroke: #000000cc 5cqmin;
	text-align: center;
	letter-spacing: -1cqmin;
	line-height: 30cqmin;
	font-size: 34cqmin;
    paint-order: stroke fill;
    font-weight: 500;
}
.bigNumber,
.bigIcon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bigNumber {
    text-shadow: #000000 -5.4cqmin 5.7cqmin;
    translate: 0.1cqmin 0;
    -webkit-text-stroke: black 5.8cqmin;
    z-index: 1;
    paint-order: stroke fill;
    font-variation-settings: "wght" 624.4;
}
.bigIcon {
	z-index: 1;
	display: flex;
	align-items: center;
	filter: drop-shadow(-3.4cqmin 3.4cqmin black);
	justify-content: center;
}
.bigIcon svg {
	width: var(--icon-size);
	overflow: visible;
	translate: 1.7cqmin 0;
}
.bigIcon svg * {
	stroke: black;
	stroke-width: 5%;
}
.smallIcon {
	position: absolute;
	top: 4cqmin;
	left: 3.2cqmin;
	width: 25cqmin;
	filter: drop-shadow(-1.4cqmin 1.4cqmin black);
}
.smallIcon[data-flipped] {
	right: 3.2cqmin;
	bottom: 4cqmin;
	top: unset;
	left: unset;
	rotate: 180deg;
}
.smallIcon svg {
	overflow: visible;
	translate: 1.7cqmin 0;
}
.smallIcon svg * {
	stroke: black;
	stroke-width: 5%;
}
.card[data-size="normal"] .bigNumber {
	font-size: 72cqmin;
}
.card[data-size="small"] .bigNumber {
	font-size: 68cqmin;
}
.card[data-size="smaller"] {
	.bigNumber {
		font-size: 56cqmin;
		translate: -2cqmin 0;
	}
	.smallTop,
	.smallBottom {
		font-size: 28cqmin;
	}
	.smallTop {
		left: 2cqmin;
	}

	.smallBottom {
		right: 2cqmin;
	}
}

.card[data-size="smallerer"] {
	.bigNumber {
		font-size: 50cqmin;
		translate: -1.5cqmin 0;
	}
	.smallTop,
	.smallBottom {
		font-size: 23cqmin;
	}
	.smallTop {
		left: 6cqmin;
	}

	.smallBottom {
		right: 6cqmin;
	}
}
.card[data-size="smallest"] {
	.bigNumber {
		font-size: 42cqmin;
		translate: -1cqmin 0;
	}
	.smallTop,
	.smallBottom {
		font-size: 23cqmin;
	}
	.smallTop {
		left: 2cqmin;
	}

	.smallBottom {
		right: 2cqmin;
	}
}

.card[data-size="smallester"] {
	.bigNumber {
		font-size: 34cqmin;
		translate: -2cqmin 0;
		letter-spacing: -3.5cqmin;
	}
	.smallTop,
	.smallBottom {
		font-size: 19cqmin;
	}
	.smallTop {
		left: 2cqmin;
	}

	.smallBottom {
		right: 2cqmin;
	}
}
.card[data-spacing="large"] {
	letter-spacing: 2cqmin;
	.smallTop,
	.smallBottom {
		letter-spacing: 2cqmin;
	}
}
.dualCard {
	&:hover {
		transform: rotateY(180deg);
		transform-origin: center center;
	}
	transition: transform 0.6s;
	transform-style: preserve-3d;
	aspect-ratio: 2 / 3;
	position: relative;
}

